# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my-code\screen_zoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
